  <!-- Barra de navegación -->
  <nav class="bg-blue-600 text-white shadow-md">
    <div class="container mx-auto px-4">
      <div class="flex justify-between items-center py-4">
        <div routerLink="/catalogo-productos" class="flex items-center space-x-4 cursor-pointer">
          <img src="../assets/logo-transparente.png" alt="logo" class="w-40">
        </div>

        <div class="hidden md:flex space-x-6 items-center">
          <a routerLink="/catalogo-productos" class="hover:text-blue-200 transition font-medium"
            >Inicio</a
          >
          <a
            href="#"
            class="hover:text-blue-200 transition font-medium border-b-2 border-white"
            >Productos</a
          >
          <a href="#" class="hover:text-blue-200 transition font-medium"
            >Ofertas</a
          >
          <a href="#" class="hover:text-blue-200 transition font-medium"
            >Contacto</a
          >
          <a routerLink="/catalogo-productos/disponibilidad-producto" class="hover:text-blue-200 transition font-medium"
            >Disponibilidad</a
          >
          <a routerLink="/catalogo-productos/historial-compras-cliente" class="hover:text-blue-200 transition font-medium"
            >Historial</a
          >
        </div>

        <div class="flex items-center space-x-4">
          <div class="relative">
            <input
              type="text"
              placeholder="Buscar productos..."
              class="py-1 px-3 rounded-full text-gray-300 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 w-36 md:w-64 border border-gray-200"
            />
            <button class="absolute right-2 top-1.5 text-gray-300">
              <i class="fas fa-search text-xs"></i>
            </button>
          </div>
          <a href="#" class="hover:text-blue-200 transition">
            <i class="fas fa-user"></i>
          </a>
          <a href="#" class="hover:text-blue-200 transition relative">
            <i class="fas fa-shopping-cart"></i>
            <span
              class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full text-xs w-5 h-5 flex items-center justify-center"
              >3</span
            >
          </a>
        </div>
      </div>
    </div>
  </nav>
